.menu-bar
{
    -fx-background-color: navy;
    -fx-text-fill: white;
}
.menu-bar .label{
    -fx-text-fill: navy;
    -fx-text-fill: white;
}
.menu-bar .menu-button:hover {
    -fx-background-color: cornflowerblue;
}
.menu-bar .menu-item
{
    -fx-background-color: navy;
    -fx-text-fill: white;
}
.menu-bar .separator
{
    -fx-background-color: navy;
    -fx-border-color: navy;
}
.tree-view .label
{
    -fx-text-fill: navy;
}
.combo-box {
    -fx-background-color:  rgba(125, 10, 0, 0.3);
    -fx-background-radius: 10;
    -fx-text-fill: white;

}

.combo-box .list-cell {
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: rgba(125, 10, 0, 0.3);
    -fx-text-fill: white;

}

.text-field {
    -fx-background-color: cornflowerblue;
    -fx-text-fill: white;
}
.button {
    -fx-background-color: cornflowerblue;
    -fx-text-fill: white;
}
.button :hover {
    -fx-background-color: black;
    -fx-text-fill: white;
}
.button :pressed {
    -fx-background-color: blueviolet;
    /*-fx-text-fill: white;*/
}
.list-view .list-cell {
    -fx-pref-height: 50;
}
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: cornflowerblue;
}

#likebutton.button {
    -fx-background-color: transparent;
}
#likebutton.button:hover {
    -fx-background-color:  cornflowerblue;
}
.first-button:hover {
    -fx-shape:"M8,15,6.84,13.937C2.72,10.1,0,7.6,0,4.5A4.386,4.386,0,0,1,4.4,0,4.7,4.7,0,0,1,8,1.717,4.7,4.7,0,0,1,11.6,0,4.386,4.386,0,0,1,16,4.5c0,3.106-2.72,5.6-6.84,9.441Z";
    -fx-background-color: cornflowerblue;
}
.first-button:selected {
    -fx-shape:"M8,15,6.84,13.937C2.72,10.1,0,7.6,0,4.5A4.386,4.386,0,0,1,4.4,0,4.7,4.7,0,0,1,8,1.717,4.7,4.7,0,0,1,11.6,0,4.386,4.386,0,0,1,16,4.5c0,3.106-2.72,5.6-6.84,9.441Z";
    -fx-background-color: cornflowerblue;
}
.first-button {
    -fx-background-color: cornflowerblue;
    -fx-shape: "M 8 13.64373970031738 L 8.48186206817627 13.20225715637207 L 8.644049644470215 13.05103969573975 C 12.47146034240723 9.482660293579102 15 7.125249862670898 15 4.49590015411377 C 15 3.53331995010376 14.65030956268311 2.645900011062622 14.01533985137939 1.997089982032776 C 13.38607025146484 1.3541100025177 12.52828979492188 1 11.60000038146973 1 C 10.53046035766602 1 9.472579956054688 1.506360054016113 8.770179748535156 2.354510068893433 L 8.000020027160645 3.284480094909668 L 7.22983980178833 2.354520082473755 C 6.527400016784668 1.506360054016113 5.469510078430176 1 4.400000095367432 1 C 3.471709966659546 1 2.613929986953735 1.3541100025177 1.984660029411316 1.997089982032776 C 1.349689960479736 2.645900011062622 1 3.53331995010376 1 4.49590015411377 C 1 7.125249862670898 3.528589963912964 9.482709884643555 7.356080055236816 13.05115985870361 L 7.518139362335205 13.2022590637207 L 8 13.64373970031738 M 8 15 L 6.839849948883057 13.9370698928833 C 2.719919919967651 10.09539031982422 0 7.601950168609619 0 4.49590015411377 C 0 1.9617600440979 1.919919967651367 -8.881784197001252e-16 4.400000095367432 -8.881784197001252e-16 C 5.799960136413574 -8.881784197001252e-16 7.119880199432373 0.653980016708374 8 1.71668004989624 C 8.880080223083496 0.653980016708374 10.19995975494385 -8.881784197001252e-16 11.60000038146973 -8.881784197001252e-16 C 14.08008003234863 -8.881784197001252e-16 16 1.9617600440979 16 4.49590015411377 C 16 7.601990222930908 13.28003978729248 10.09543037414551 9.160149574279785 13.9370698928833 L 8 15 Z"
}
#listViwelike {
    -fx-background-color: cornflowerblue;
    -fx-background-radius: 10;
}
#listViwelike .list-cell {
    -fx-background-color: cornflowerblue;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 16;
}
#listViwelike .list-cell:odd {
    -fx-background-color: #4895ef;
    -fx-background-radius: 10;
}
#listViwelike .list-cell:hover {
    -fx-background-color: #3f37c9;
}
.likedlistbutton {
    -fx-background-color: navy;
}
/*.table-view {*/
/*    -fx-background-color: cornflowerblue;*/
/*}*/
/*.table-view .column-header {*/
/*    -fx-background-color: navy;*/
/*    -fx-text-fill: white;*/
/*}*/
/*.table-view .column-header .label {*/
/*    -fx-text-fill: white;*/
/*}*/
/*.vbox {*/
/*    -fx-background-color: navy;*/
/*}*/
